<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Worlde</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <h1 class="title">Worlde</h1>
      <nav class="navBar">
        <ul class="navList">
          <li>
            <a href="/">Game</a>
          </li>
          <li>
            <a href="/highscore" class="active">Highscore</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <h2>Highscore</h2>
      <div>
        <!-- <select name="letter" id="letter" onchange="location = this.value;"> -->
        <select name="letter" id="letter">
          <option value=""># of letters</option>
          <option value="/highscore">All</option>
          <option value="/highscore/4">4-letter</option>
          <option value="/highscore/5">5-letter</option>
          <option value="/highscore/6">6-letter</option>
          <option value="/highscore/7">7-letter</option>
          <option value="/highscore/8">8-letter</option>
          <option value="/highscore/9">9-letter</option>
          <option value="/highscore/10">10-letter</option>
        </select>
        <div>
          <label for="unique">Unique letters: </label>
          <input type="checkbox" id="unique" name="unique" value="true" />
        </div>
        <button name="show" onclick="{handleClick()}">Show</button>
      </div>
      <div class="highscore">
        <div class="row heading">
          <span>Name</span>
          <span># of letters</span>
          <span>Unique</span>
          <span>Time</span>
          <span># of guesses</span>
        </div>
        <% if(highscores.length > 0){ %> <% highscores.forEach(function(score) {
        %>
        <div class="row">
          <span><%= score.name %></span>
          <span><%= score.length %></span>
          <span><%= score.unique %></span>
          <span><%= score.time %>s</span>
          <span><%= score.guesses.length %></span>
        </div>
        <% }); %> <% } else { %>
        <h3>No highscores found</h3>
        <% }; %>
      </div>
    </main>
    <script>
      const handleClick = () => {
        const unique = document.querySelector("#unique").checked;
        const letter = document.querySelector("#letter").value;
        let url = letter;
        if (unique) {
          url += "?unique=true";
        } else {
          url += "?unique=false";
        }
        window.location.href = url;
      };
    </script>
  </body>
</html>
